Repository the-samrat-dey/demo-ng-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run lint:fix

initial commit
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  scripts/lint-error.js
  scripts/setup-hooks.js
  src/server.ts
Due: npm run prettier:fix, npm run lint:fix

sfsfs
  .lintstagedrc.json
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

aaa
  .husky/pre-commit
  package-lock.json
  package.json
  scripts/pre-commit.mjs
  scripts/setup-hooks.js
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

aaa
  scripts/pre-commit.mjs
Due: none

aaa
  package.json
  scripts/pre-commit.mjs
Due: npm run prettier:fix

aaabb
  scripts/pre-commit.mjs
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

aaabb
  package.json
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

aaabb1122auul
  .lintstagedrc.json
  package-lock.json
  package.json
  scripts/pre-commit.mjs
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

123
  .lintstagedrc.json
Due: npm run prettier:fix

123457
  .lintstagedrc.json
Due: npm run prettier:fix

123457
  package.json
  scripts/lint-error.js
  scripts/pre-commit.mjs
Due: npm run prettier:fix, npm run lint:fix

123457w
  package.json
  scripts/pre-commit.mjs
  scripts/setup-hooks.js
Due: npm run prettier:fix, npm run lint:fix

aaa
  .commitlintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  scripts/setup-hooks.js
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

aaa1
  .husky/commit-msg
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

fix: #12434 sfdgds 121 424 3s
  .commitlintrc.json
  .husky/commit-msg
  commitlint.config.js
  scripts/commit-msg.js
Due: npm run prettier:fix, npm run lint:fix

fix: #11 aadfgdgds dsg dsg dgsd1212
  commitlint.config.js
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

fix: #1212 fgfaadfgdgds dsg dsg dgsd1212 #121
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

fix: #1212 asa as a s asa
  commitlint.config.js
  scripts/setup-hooks.js
Due: npm run prettier:fix, npm run lint:fix

fix: #1212 sds asa as a s asa
  scripts/commit-msg.js
Due: npm run prettier:fix, npm run lint:fix

fix: #1212 sds asa as a s asa12121
  src/app/app.component.ts
Due: npm run prettier:fix, npm run lint:fix

fix: #411 sdgdsgd
  eslint.config.js
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.server.ts
  src/app/app.routes.ts
  src/main.server.ts
  src/server.ts
  tsconfig.json
Due: npm run prettier:fix, npm run lint:fix

fix: #12131 sadsa fas fsa
  scripts/commit-msg.js
  scripts/pre-commit.mjs
Due: npm run prettier:fix, npm run lint:fix

fix: #121 asfasf
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  scripts/commit-msg.js
  scripts/pre-commit.mjs
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.server.ts
  src/main.ts
  src/server.ts
  src/styles.scss
Due: npm run prettier:fix, npm run lint:fix

fix: #123 sfsafas
  .lintstagedrc.json
  src/styles.scss
Due: npm run prettier:fix

fix: #123 sfsafas 1
  package.json
Due: npm run prettier:fix

fix: #123 sfsafas 2
  .lintstagedrc.json
  package.json
Due: npm run prettier:fix

fix: #123 sfsafas 3
  .lintstagedrc.json
  package.json
Due: npm run prettier:fix

fix: #123 sfsafas 4
  .lintstagedrc.json
Due: npm run prettier:fix

fix: #123 sfsafas 5
  .lintstagedrc.json
  package.json
Due: npm run prettier:fix

fix: #123 sfsafas 6
  .lintstagedrc.json
Due: npm run prettier:fix

fix: #123 sfsafas 7
  .lintstagedrc.json
Due: npm run prettier:fix

fix: #123 sfsafas 8
  .lintstagedrc.json
  src/styles.scss
Due: npm run prettier:fix

fix: #123 sfsafas 9
  .lintstagedrc.json
  scripts/pre-commit.mjs
  src/styles.scss
Due: npm run prettier:fix

fix: #123 sfsafas 10
  scripts/pre-commit.mjs
  src/styles.scss
Due: npm run prettier:fix

fix: #123 sfsafas 12
  scripts/pre-commit.mjs
  src/styles.scss
Due: npm run prettier:fix

fix: #123 sfsafas 13
  .lintstagedrc.json
Due: npm run prettier:fix

fix: #414 fs f as g as
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: npm run prettier:fix, npm run lint:fix

fix: #414 fs f as g as 1
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/main.server.ts
  src/main.ts
Due: npm run prettier:fix, npm run lint:fix

chore: #1 push changes
  .vscode/settings.json
  scripts/setup-hooks.js
Due: npm run prettier:fix, npm run lint:fix

feat: #123 create router
  eslint.config.js
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/core/constants/api.constants.ts
  src/app/core/models/auth.model.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/http.service.ts
  src/app/features/auth/auth.component.html
  src/app/features/auth/auth.component.ts
  src/app/features/auth/auth.model.ts
  src/app/features/dashboard/dashboard.component.ts
  src/app/features/user/user-details.component.ts
  src/app/features/user/user-list.component.ts
  src/app/features/user/user.component.ts
  src/styles.scss
Due: npm run prettier:fix, npm run lint:fix

Path conditions:
  npm run prettier:fix: ((any of: *.{ts,js}) or (any of: *.html)) or (any of: *.{css,scss,json,md})
  npm run lint:fix: (any of: *.{ts,js}) or (any of: *.html)
